/CyberCore/[Ll]ibrary/
/CyberCore/[Tt]emp/
/CyberCore/[Oo]bj/
/CyberCore/[Bb]uild/
/CyberCore/[Ll]ogs/
/CyberCore/[Mm]emoryCaptures/
.assetstore/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta

